<div class="homePage">
  <nav class="navbar navbar-expand-lg navbar-light bg-light mt-3"> 
    <img src="https://workablehr.s3.amazonaws.com/uploads/account/logo/198752/koru-logo-for-gapps-01.png"
      alt="Koru UX Design LLP" width="155px" height="64px">
  </nav>
  <hr class="mt-0 nav-hr">
  <div class="content">
    <div class="col-md-12 row header-content">
      <h4 class="col-md-6">User list</h4>
      <button type="button" class="btn btn-danger col-md-2" data-bs-target="#deleteModal" data-bs-toggle="modal"
        ng-disabled="!isChecked()">Delete</button>
    </div>

    <table class="table table-bordered table-responsive user-table mt-3" cellpadding="0" cellspacing="0">
      <thead>
        <tr>
          <th scope="col" class="checkbox">
            <input type="checkbox" ng-model="IsAllChecked" ng-change="CheckUncheckAll()"
              ng-init="IsAllChecked = false" />
          </th>
          <th scope="col" ng-click="sort('userName')">User Name
            <span class="sortorder descending" ng-hide="(sortKey=='userName' && reverse==true)"></span>
            <span class="sortorder" ng-hide="(sortKey=='userName' && reverse==false)"></span>
          </th>
          <th scope="col" ng-click="sort('phoneNumber')">Phone Number
            <span class="sortorder descending" ng-hide="(sortKey=='phoneNumber' && reverse==true)"></span>
            <span class="sortorder" ng-hide="(sortKey=='phoneNumber' && reverse==false)"></span>
          </th>
          <th scope="col" ng-click="sort('emailID')">Email ID
            <span class="sortorder descending" ng-hide="(sortKey=='emailID' && reverse==true)"></span>
            <span class="sortorder" ng-hide="(sortKey=='emailID' && reverse==false)"></span>
          </th>
          <th scope="col" class="options">Options<i class="bi bi-info-circle-fill"></i></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="user in users  | orderBy: sortKey:reverse" data-drop="true" data-drag="true" ng-model="users"
          jqyoui-droppable="{index: {{$index}}}"
          jqyoui-draggable="{index: {{$index}}, insertInline: true, direction:'jqyouiDirection'}"
          data-jqyoui-options="{revert: 'invalid',helper: 'clone'}" data-direction="{{user.jqyouiDirection}}"
          ng-class="{highlightbg: user.Selected == true}">
          <td class="checkbox"><input type="checkbox" ng-model="user.Selected" ng-change="CheckUncheckHeader();"/></td>
          <td>{{user.userName}}</td>
          <td>{{user.phoneNumber}}</td>
          <td>{{user.emailID}}</td>
          <td class="options">
            <button type="button" class="btn btn-light" data-bs-target="#deleteModal" data-bs-toggle="modal"
              ng-disabled="!user.Selected">
              <span class="bi bi-trash"></span>
            </button>
            <i style="cursor:pointer" class="bi bi-grip-horizontal"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!--Delete Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
    aria-hidden="true" aria-modal="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <img src="/assets/deleteModalIcon.png" alt="">
          <div class="content-confirm">
            <p>Are you sure you want to delete?</p>
            <div class="buttons">
              <button type="button" class="btn btn-danger" ng-click="deleteUser();" data-bs-target="#deleteSuccessModal"
                data-bs-toggle="modal" data-bs-dismiss="modal">Yes</button>
              <button type="button" class="btn btn-secondary" id="close-modal" data-bs-dismiss="modal">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Login Success button -->
  <div class="logged-in">
    <button type="button" class="login-success" aria-label="Close">
      <i class="bi bi-check2-circle"></i>
      <b>Login Succesfully</b>
      <span aria-hidden="true" onclick="this.parentNode.remove(); return false;">&times;</span>
    </button>
  </div>
  <!--delete Success Modal -->
  <div class="modal fade delete-success" id="deleteSuccessModal" tabindex="-1" role="dialog"
    aria-labelledby="deleteSuccessModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
        <i class="bi bi-check2-circle"></i><b>Deleted Succesfully</b>
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
</div>